<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}"
>
<th:block layout:fragment="content">
    <div class="container">
        <h1 class="text-center">세대정보 등록</h1>
        <form action="/save-unit" method="post" id="unitCreateForm">
            <input type="hidden" name="buildingId" th:value="${buildingId}">

            <label for="buildingNumber">동:</label>
            <input type="text" id="buildingNumber" name="buildingNumber"><br>
    
            <label for="roomNumber">호:</label>
            <input type="text" id="roomNumber" name="roomNumber"><br>
    
            <label for="area">면적:</label>
            <input type="text" id="area" name="area" placeholder="면적을 입력하세요 (0.0 이상)" value="0.0"><br>
    
            <label for="memo">메모:</label>
            <textarea id="memo" name="memo" maxlength="500"></textarea><br>
    
            <label for="transactionPrice">월세 가격:</label>
            <input type="text" id="monthlyPrice" name="monthlyPrice" maxlength="6" value="0" placeholder="금액을 입력하세요 (단위: 만원)"><br>

            <label for="transactionPrice">전세 가격:</label>
            <input type="text" id="monthlyPrice" name="jeonsePrice" maxlength="6" value="0" placeholder="금액을 입력하세요 (단위: 만원)"><br>

            <label for="transactionPrice">매매 가격:</label>
            <input type="text" id="monthlyPrice" name="salePrice" maxlength="6" value="0" placeholder="금액을 입력하세요 (단위: 만원)"><br>

            <label for="deposit">융자금:</label>
            <input type="text" id="deposit" name="deposit" maxlength="6" value="0" placeholder="금액을 입력하세요 (단위: 만원)"><br>
    
            <label>집 방향:</label><br>
            <input type="radio" id="south" name="direction" value="SOUTH" checked>
            <label for="south">남향</label><br>
            <input type="radio" id="southeast" name="direction" value="SOUTHEAST">
            <label for="southeast">남동향</label><br>
            <input type="radio" id="southwest" name="direction" value="SOUTHWEST">
            <label for="southwest">남서향</label><br>
            <input type="radio" id="east" name="direction" value="EAST">
            <label for="east">동향</label><br>
            <input type="radio" id="west" name="direction" value="WEST">
            <label for="west">서향</label><br>
            <input type="radio" id="north" name="direction" value="NORTH">
            <label for="north">북향</label><br>

            <label>전망:</label><br>
            <input type="radio" id="good" name="viewQuality" value="GOOD" checked>
            <label for="good">좋음</label><br>
            <input type="radio" id="average" name="viewQuality" value="AVERAGE">
            <label for="average">보통</label><br>
            <input type="radio" id="poor" name="viewQuality" value="POOR">
            <label for="poor">나쁨</label><br>

            <label>통풍:</label><br>
            <input type="radio" id="goodVentilation" name="ventilation" value="GOOD" checked>
            <label for="goodVentilation">좋음</label><br>
            <input type="radio" id="poorVentilation" name="ventilation" value="POOR">
            <label for="poorVentilation">나쁨</label><br>

            <label>수압:</label><br>
            <input type="radio" id="goodWaterPressure" name="waterPressure" value="GOOD" checked>
            <label for="goodWaterPressure">좋음</label><br>
            <input type="radio" id="poorWaterPressure" name="waterPressure" value="POOR">
            <label for="poorWaterPressure">나쁨</label><br>

            <label>소음:</label><br>
            <input type="radio" id="noneNoiseLevel" name="noiseLevel" value="NONE" checked>
            <label for="noneNoiseLevel">없음</label><br>
            <input type="radio" id="moderateNoiseLevel" name="noiseLevel" value="MODERATE">
            <label for="moderateNoiseLevel">보통</label><br>
            <input type="radio" id="highNoiseLevel" name="noiseLevel" value="HIGH">
            <label for="highNoiseLevel">심함</label><br>

            <label>결로/곰팡이:</label><br>
            <input type="radio" id="noneCondensationMoldLevel" name="condensationMoldLevel" value="NONE" checked>
            <label for="noneCondensationMoldLevel">없음</label><br>
            <input type="radio" id="moderateCondensationMoldLevel" name="condensationMoldLevel" value="MODERATE">
            <label for="moderateCondensationMoldLevel">보통</label><br>
            <input type="radio" id="severeCondensationMoldLevel" name="condensationMoldLevel" value="SEVERE">
            <label for="severeCondensationMoldLevel">심함</label><br>

            <label>누수:</label><br>
            <input type="radio" id="noneLeakStatus" name="leakStatus" value="NONE" checked>
            <label for="noneLeakStatus">없음</label><br>
            <input type="radio" id="presentLeakStatus" name="leakStatus" value="PRESENT">
            <label for="presentLeakStatus">있음</label><br>

            <button type="button" id="cancelButton">취소</button>
            <button type="submit" id="saveButton">저장</button>
        </form>
    </div>

    

    <script>
        $('#saveButton').click(function () {
            event.preventDefault();

            const buildingId = $('#buildingId').val();
            if (!buildingId) {
                alert('건물정보 아이디가 없습니다.');
                return false;
            }

            const formDataArr = $("#unitCreateForm").serializeArray();
            const data = {};

            for (const {name,value} of formDataArr) {
                data[name] = value;
            }

            $.ajax({
                type: "POST",
                url: "/api/units/new/" + buildingId,
                contentType: 'application/json; charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify(data),
                success: function(response) {
                    window.location.href=`/units/${response.savedUnitId}`
                },
                error: function(data) {
                    console.log("저장 실패", data);
                }
            });
        })

        $('#cancelButton').click(function () {
            event.preventDefault();
            history.back();
        });
    </script>
</th:block>
</html>
