<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="layout/default_layout"
>
  <th:block layout:fragment="content">
    <h2>로그인</h2>
    <form
      id="loginForm"
      th:action="@{/auth/login}"
      method="post"
      th:object="${loginRequestDto}"
    >
      <label for="email">이메일:</label>
      <input type="text" id="email" name="email" th:field="*{email}" required />
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
      <br />
      <label for="password">비밀번호:</label>
      <input
        type="password"
        id="password"
        name="password"
        th:field="*{password}"
        required
      />
      <span
        th:if="${#fields.hasErrors('password')}"
        th:errors="*{password}"
      ></span>
      <br />
      <button type="submit">로그인</button>
    </form>
  </th:block>
</html>
