<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/default_layout}"
>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/unit.css}" >
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <form action="/save-unit" method="post" id="unitCreateForm">
            <input type="hidden" name="unitId" id="unitId" th:value="${unitId}">

            <div class="mb-3">
                <label class="form-label" for="buildingNumber">동:</label>
                <input class="form-control" type="text" id="buildingNumber" name="buildingNumber" th:value="${unit.buildingNumber}">
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="roomNumber">호:</label>
                <input class="form-control" type="text" id="roomNumber" name="roomNumber" th:value="${unit.roomNumber}">
            </div>
            
    
            <div class="mb-3">
                <label class="form-label" for="area">면적:</label>
                <input class="form-control" type="text" id="area" name="area" th:value="${unit.area}">
            </div>
            
    
            <div class="mb-3">
                <label class="form-label" for="memo">메모:</label>
                <textarea class="form-control" id="memo" name="memo" maxlength="500" th:text="${unit.memo}"></textarea>
            </div>
            
            <div class="mb-3">
                <label class="form-label" for="transactionPrice">월세 가격(단위: 만원):</label>
                <input class="form-control" type="text" id="monthlyPrice" name="monthlyPrice" maxlength="6" th:value="${unit.monthlyPrice}">
            </div>
    
            <div class="mb-3">
                <label class="form-label" for="transactionPrice">전세 가격(단위: 만원):</label>
                <input class="form-control" type="text" id="monthlyPrice" name="jeonsePrice" maxlength="6" th:value="${unit.jeonsePrice}">
            </div>

            <div class="mb-3">
                <label class="form-label" for="transactionPrice">매매 가격(단위: 만원):</label>
                <input class="form-control" type="text" id="monthlyPrice" name="salePrice" maxlength="6" th:value="${unit.salePrice}">
            </div>

            <div class="mb-3">
                <label class="form-label" for="deposit">융자금(단위: 만원):</label>
                <input class="form-control" type="text" id="deposit" name="deposit" maxlength="6" th:value="${unit.deposit}">
            </div>
    
            <div class="mb-3">
                <label class="form-label">집 방향:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="south" name="direction" value="SOUTH" th:checked="${unit.direction.name() == 'SOUTH'}">
                    <label class="form-check-label" for="south">남향</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="southeast" name="direction" value="SOUTHEAST" th:checked="${unit.direction.name() == 'SOUTHEAST'}">
                    <label class="form-check-label" for="southeast">남동향</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="southwest" name="direction" value="SOUTHWEST" th:checked="${unit.direction.name() == 'SOUTHWEST'}">
                    <label class="form-check-label" for="southwest">남서향</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="east" name="direction" value="EAST" th:checked="${unit.direction.name() == 'EAST'}">
                    <label class="form-check-label" for="east">동향</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="west" name="direction" value="WEST" th:checked="${unit.direction.name() == 'WEST'}">
                    <label class="form-check-label" for="west">서향</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="north" name="direction" value="NORTH" th:checked="${unit.direction.name() == 'NORTH'}">
                    <label class="form-check-label" for="north">북향</label>
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label">전망:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="good" name="viewQuality" value="GOOD" th:checked="${unit.viewQuality.name() == 'GOOD'}">
                    <label class="form-check-label" for="good">좋음</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="average" name="viewQuality" value="AVERAGE" th:checked="${unit.viewQuality.name() == 'AVERAGE'}">
                    <label class="form-check-label" for="average">보통</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="poor" name="viewQuality" value="POOR" th:checked="${unit.viewQuality.name() == 'POOR'}">
                    <label class="form-check-label" for="poor">나쁨</label>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">통풍:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="goodVentilation" name="ventilation" value="GOOD" th:checked="${unit.ventilation.name() == 'GOOD'}">
                    <label class="form-check-label" for="goodVentilation">좋음</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="poorVentilation" name="ventilation" value="POOR" th:checked="${unit.ventilation.name() == 'POOR'}">
                    <label class="form-check-label" for="poorVentilation">나쁨</label>
                </div>
            </div>

            

            <div class="mb-3">
                <label class="form-label">수압:</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="goodWaterPressure" name="waterPressure" value="GOOD" th:checked="${unit.waterPressure.name() == 'GOOD'}">
                    <label class="form-check-label" for="goodWaterPressure">좋음</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="poorWaterPressure" name="waterPressure" value="POOR" th:checked="${unit.waterPressure.name() == 'POOR'}">
                    <label class="form-check-label" for="poorWaterPressure">나쁨</label>
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label">소음:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="noneNoiseLevel" name="noiseLevel" value="NONE" th:checked="${unit.noiseLevel.name() == 'NONE'}">
                    <label class="form-check-label" for="noneNoiseLevel">없음</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="moderateNoiseLevel" name="noiseLevel" value="MODERATE" th:checked="${unit.noiseLevel.name() == 'MODERATE'}">
                    <label class="form-check-label" for="moderateNoiseLevel">보통</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="highNoiseLevel" name="noiseLevel" value="HIGH" th:checked="${unit.noiseLevel.name() == 'HIGH'}">
                    <label class="form-check-label" for="highNoiseLevel">심함</label>
                </div>
            </div>
            
            <div class="mb-3">
                <label class="form-label">결로/곰팡이:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="noneCondensationMoldLevel" name="condensationMoldLevel" value="NONE" th:checked="${unit.condensationMoldLevel.name() == 'NONE'}">
                    <label class="form-check-label" for="noneCondensationMoldLevel">없음</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="moderateCondensationMoldLevel" name="condensationMoldLevel" value="MODERATE" th:checked="${unit.condensationMoldLevel.name() == 'MODERATE'}">
                    <label class="form-check-label" for="moderateCondensationMoldLevel">보통</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="severeCondensationMoldLevel" name="condensationMoldLevel" value="SEVERE" th:checked="${unit.condensationMoldLevel.name() == 'SEVERE'}">
                    <label class="form-check-label" for="severeCondensationMoldLevel">심함</label>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">누수:</label>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="noneLeakStatus" name="leakStatus" value="NONE" th:checked="${unit.leakStatus.name() == 'NONE'}">
                    <label class="form-check-label" for="noneLeakStatus">없음</label>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" id="presentLeakStatus" name="leakStatus" value="PRESENT" th:checked="${unit.leakStatus.name() == 'PRESENT'}">
                    <label class="form-check-label" for="presentLeakStatus">있음</label>
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label">첨부 이미지:</label>
                <div th:each="image: ${unit.images}">
                    <div class="image-container">
                        <img th:src="${image.uploadResult.fileUrl}">
                    </div>
                </div>
            </div>
            

            <button class="btn btn-secondary" type="button" id="cancelButton">취소</button>
            <button class="btn btn-danger" type="button" id="deleteButton">삭제</button>
            <button class="btn btn-primary" type="button" id="modifyButton">수정</button>
        </form>
    </div>
</th:block>
<th:block layout:fragment="bottom">
    <th:block th:replace="~{fragments/nav :: navFragment}"></th:block>
</th:block>
<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/read-unit.js}"></script>
</th>
</html>
